# .gitignore
*.pdf
**/practice/.ipynb_checkpoints
**/practice/graphs/.ipynb_checkpoints
**/practice/maps_hashing/.ipynb_checkpoints
#practice/.ipynb_checkpoints/*
#practice/.ipynb_checkpoints
#practice/trees/.ipynb_checkpoints
#practice/maps_hashing/.ipynb_checkpoints
project1/*.zip
project1/*.ods
project1/.~*
project1/__pycache__
project2/*.zip
project2/__pycache__
wip
project3/.ipynb_checkpoints
project3/*.zip
project4/__pycache__
**/project4/.ipynb_checkpoints
project4/__pycache__
*.ods
